@import '_shared';

.contact-container {
  min-height: calc( 100vh - ( 60px + 134px + 100px  ) );
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contact__form {
    width: 100%;

    h2 {
      margin-bottom: 40px;
      color: $text-color-light;
      font-size: 3.4rem;
    }

    form {

      .input-container {
        label {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $text-color-card-light;
          font-size: 1.4rem;

          input {
            width: 80%;
            height: 40px;
            margin-left: 10px;
            padding: 0 10px;
            color: $text-color-light;
            font-family: $font;
            font-size: 1.4rem;
            background-color: $bg-input-light;
            border-color: transparent;
            border-radius: 5px;
            outline: none;
          }
          textarea {
            width: 80%;
            height: 120px;
            margin-left: 10px;
            padding: 10px 10px;
            color: $text-color-light;
            font-size: 1.4rem;
            background-color: $bg-input-light;
            border-color: transparent;
            border-radius: 5px;
            resize: none;
            outline: none;
            overflow: hidden;
          }
        }

        span {
          margin-bottom: 20px;
          display: block;
          color: rgba(255, 0, 0, 0.746);
          font-size: 1.4rem;
          text-align: end;
        }
      }


      .submit {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 10px 15px;
          color: white;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: $font;
          background-color: #5487df;
          border-color: transparent;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }
  .contact__socials {
    width: 100%;
    margin-top: 50px;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      list-style: none;

      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
          width: 40px;
        }
        span {
          color: $text-color-card-light;
          font-size: 1.5rem;
        }
      }
    }
  }

  @media (min-width: 780px) {

    .contact__form {
      form {
        .input-container {
          label {
            font-size: 1.6rem;

            input {
              font-size: 1.6rem;
            }
            textarea {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 930px) {
    flex-direction: row;
    padding: 0 50px;
    margin-bottom: 150px;

    .contact__form {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contact__socials {
      width: 30%;
      margin-top: 0;

      ul {
        padding-right: 20px;

        a {
          justify-content: end;
        }
      }
    }
  }
}

.dark {
  .contact-container {
    .contact__form {
      h2 {
        color: $text-color-dark;
      }
      form {
        .input-container {
          label {
            color: $text-color-card-dark;

            input {
              background-color: $bg-input-dark;
              color: $text-color-dark;
            }
            textarea {
              background-color: $bg-input-dark;
              color: $text-color-dark;
            }
          }
        }
        .submit {
          button {
            background-color: #37517e;
            color: white;

            &:hover {
              background-color: #202f49;
            }
            &:active {
              transform: scale(1.05);
            }
          }
        }
      }
    }
    .contact__socials {
      ul {
        a {
          span {
            color: $text-color-card-dark;
          }
        }
      }
    }
  }
}
