header {
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #2b303d;

  ul {
    list-style: none;
    margin-right: 20px;

    li {
      img {
        width: 28px;
        margin-right: 8px;
      }
    }

  }
}

.dark-header {
  background-color: #0b0d12;
}
